.mywork{
  margin: 30px;
  text-align: center;
}
.github{
  margin: 30px;
}

.linkedin{
  margin: 30px;
}

.navbar-inverse{
  font-size:25px;
}
.contacts{
  font-size:25px;
  margin-bottom: 30px;
}
.contact{
  margin-bottom: 30px;
}
body{
  background-image: url('portfolio-background.jpg');
}
.codeforces{
  background-image: url('portfolio-background.jpg');

}
